.logo a {
  text-decoration: none;
  color: #fff;
}

.logo__title span {
  font-weight: 500;
}

.home-all-wrapper {
  margin: 42px auto;
  padding: 72px 48px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-top: 36px;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .home-menu-wrapper {
    border-radius: 5px;
    background-color: #ff6b6b;
    flex: 1 0 45%;
    margin: 2px;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
  }

  .home-menu-wrapper:first-child {
    background-image: url('../../images/assets/pizza-1.jpg');

    h2 {
      margin: 45px 0;
      transition: all .4s;
    }
  }

  .home-menu-wrapper:nth-child(2) {
    background-image: url('../../images/assets/pizza-2.jpg');

    h2 {
      margin: 45px 0;
      transition: all .4s;
    }
  }

  .home-menu-wrapper:nth-child(1):hover h2,
  .home-menu-wrapper:nth-child(2):hover h2 {
    margin: 18px 0;
  }

  a {
    color: #fff;
    text-decoration: none;
    text-align: center;
  }

  h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    margin: 30px 0 8px 0;
  }

  .open-hours {
    margin: 0;
  }
}

.gallery-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

  .image {
    flex: 0 0 calc(33.3333% - 6px);
    justify-content: space-between;
    object-fit: cover;
    position: relative;
    height: 170px;
    margin: 6px;


    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  .icon {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: .4s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;

    i {
      margin: 10px;
    }
  }

  .image:hover .icon {
    opacity: 1;
  }

  .image i:hover {
    color: #ff6b6b;
    cursor: pointer;
  }
}

.image:nth-child(3n+1) {
  margin-left: 0;
  margin-right: 0;
}

.image:nth-child(3n+3) {
  margin-left: 0;
  margin-right: 0;
}

.carousel {
  padding: 72px 0;
}

.carousel-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 300px;
  align-items: center;
  justify-content: space-between;
}

.carousel-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.carousel-container {
  flex: 1;


  .slide {
    transition: opacity 2s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;

    .author {
      font-style: italic;
    }
  }

  .slide.active {
    opacity: 1;
    height: auto;
  }
}

.carousel-dots {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
}

.carousel-dots .carousel-dots-item {
  width: 14px;
  height: 14px;
  background: #eee;
  border-radius: 100%;
  margin: 0 10px;
  cursor: pointer;
  transition: all 2s ease-in-out;
}

.carousel-dots .carousel-dots-item:hover {
  background: #ddd;
}

.carousel-dots .carousel-dots-item.active {
  background: #222;
}

.instagram {
  color: #ff6b6b;
  text-decoration: underline;
}
